;$ORIGIN twimg.com
$TTL 15M

@	SOA	dns1.twimg.ryuar.in. dns2.twimg.ryuar.in. (
		{{ .Serial }}	; Serial
		15M				; Refresh
		5M				; Retry
		15M				; Expire
		5M				; Negative Cache TTL
	);

	NS	dns1.twimg.ryuar.in.
	NS	dns2.twimg.ryuar.in.

{{ range $host, $data := .Data.Detail }}
{{ $host }}		A		{{ $data.Best.Addr }}
{{ end }}

test.twimg.ryuar.in		CNAME 	twimg.ryuar.in
