.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

debug
*.exe

bin-*/
*.cache.*

bin/

last.json
stat.log
stat-api.addr
stat-dns.addr

DNS-For-Twimg

log/

__debug_bin

twimg.com.zone
config.auth
